[client]
# Default is Latin1, if you need UTF-8 set this (also in server section)
default-character-set = utf8mb4

[mysqld]
#
# * Character sets
#
# Default is Latin1, if you need UTF-8 set all this (also in client section)
#
character-set-server = utf8mb4
init-connect         = 'SET NAMES utf8mb4'
collation-server     = utf8mb4_general_ci

# To avoid ERROR 2006 "MySQL server has gone away"
max_allowed_packet   = 32M
